@font-face {
   font-family: 'SECRobotoCondensed-Bold';
   src: url('SECRobotoCondensed-Bold/font.ttf');
}
@font-face {
   font-family: 'SamsungSharpSansBold';
   src: url('SamsungSharpSansBold/font.ttf');
}
